<form [formGroup]="videoForm" class="video-form" (ngSubmit)="onSubmit()">
  <label for="videoName" class="form-label">Video Name</label>
  <input type="text" id="videoName" formControlName="videoName" class="form-control">

  <label for="author" class="form-label">Video Author</label>
  <select id="author" formControlName="author" class="form-control" required>
    <option [ngValue]="null" disabled>Select an Author</option>
    <option *ngFor="let author of authors" [ngValue]="author">{{ author.name }}</option>
  </select>

  <label for="categories" class="form-label">Video Categories</label>
  <select id="categories" formControlName="categories" class="form-control" multiple>
    <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
  </select>
  <button type="submit" [disabled]="videoForm.invalid" class="form-button">Save</button>
</form>
