<form [formGroup]="videoForm" class="video-form" (ngSubmit)="onSubmit()">
  <div class="video-form-group">
    <label for="videoName" class="form-label">Video Name</label>
    <input type="text" id="videoName" formControlName="videoName" class="form-control">
  </div>

  <div class="video-form-group">
  <label for="authorID" class="form-label">Video Author</label>
  <select id="authorID" formControlName="authorID" class="form-control" required>
    <option [ngValue]="null" disabled>Select an Author</option>
    <option *ngFor="let author of authors" [ngValue]="author.id">{{ author.name }}</option>
  </select>
 </div>

 <div class="video-form-group">
  <label for="categories" class="form-label">Video Categories</label>
  <select id="categories" formControlName="categories" class="form-control" multiple>
    <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
  </select>
</div>

  <mi-button [disabled]="videoForm.invalid" [primary]="true" [text]="'Save'"></mi-button>
</form>
