.wrapper {
  margin: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

mi-button {
  margin: 10px;
  .button {
    margin-bottom: 4px;
  }
}
