.wrapper {
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 16px;
  border: 1px solid;
  text-align: left;
}

mi-button.edit {
  margin-right: 12px;
 .button {
    background: cadetblue;
  }
}

mi-button.delete {
 .button {
    background: red;
  }
}