<h2>Video Lists</h2>

<div class="wrapper">
  <table class="table">
    <thead>
      <tr>
        <th>Video Name</th>
        <th>Author</th>
        <th>Categories</th>
        <th>Highest Quality Format</th>
        <th>Release Date</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let video of videos; index as i; first as isFirst">
        <td>{{ video.name }}</td>
        <td>{{ video.author }}</td>
        <td>{{ video.categories.join(", ") }}</td>
        <td>{{ video.highestQualityFormat }}</td>
        <td>{{ video.releaseDate | date: "dd.MM.YYYY" }}</td>
        <td>
          <mi-button (click)="onEditVideoClicked(video)" [secondary]="true" [text]="'Edit'"></mi-button>
          <mi-button (click)="onDeleteVideoClicked(video)" [isDelete]="true" [text]="'Delete'"></mi-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
